version: '3.8'

services:
  postgres:
    image: postgres:16
    container_name: next-auth-db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: auth_db
    
    ports:
      - "5433:5432"
